* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
background-color: black;
padding-inline: 2rem;
height: 50px;
    .mylogo{
        color:red;
    }

}


main {
    padding-block: 1rem;
    padding-inline: 2rem;
    background-color: #434343;;
}

.container-fluid {
    height: 100%;
}

.column {
 
}